# RIESCADE Launcher configuration
# LocalPath = riescade/launcher/ (onde o .exe fica)
# .. = riescade/
# ..\.. = RIESCADE_SYSTEM/ (raiz do sistema)

# EmulationStation config files (relativo ao launcher)
home=.\..\.riescade\configs

# Retrobat root (RIESCADE_SYSTEM) - usado internamente
retrobat=.\..\..\

# Folders (RIESCADE_SYSTEM/xxx)
bios=.\..\..\bios
saves=.\..\..\saves
screenshots=.\..\..\screenshots
roms=.\..\..\roms
emulators=.\..\..\emulators
thumbnails=.\..\..\thumbnails
shaders=.\..\..\system\shaders
decorations=.\..\..\decorations
system.decorations=.\..\..\system\decorations
videofilters=.\..\..\emulators\retroarch\filters\video
cheats=.\..\..\cheats