// HEADER
.riescade-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  box-sizing: border-box;
  z-index: 100;

  .system-name {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: var(--font-shadow);

    .custom-title {
      display: none;
    }

    .fallback-title {
      display: inline;
    }

    &.system-retrobat {
      .fallback-title {
        display: none;
      }

      .retrobat-title {
        display: inline;
      }

      .system-gamecount {
        .fallback-count {
          display: none;
        }

        .retrobat-count {
          display: inline;
        }
      }
    }

    &.system-collections {
      .fallback-title {
        display: none;
      }

      .collections-title {
        display: inline;
      }

      .system-gamecount {
        .fallback-count {
          display: none;
        }

        .collections-count {
          display: inline;
        }
      }
    }

    &.system-favorites {
      .fallback-title {
        display: none;
      }

      .favorites-title {
        display: inline;
      }
    }

    &.system-library {
      .fallback-title {
        display: none;
      }

      .library-title {
        display: inline;
      }

      .system-gamecount {
        .fallback-count {
          display: none;
        }

        .library-count {
          display: inline;
        }
      }
    }

    &.system-screenshots {
      .fallback-title {
        display: none;
      }

      .screenshots-title {
        display: inline;
      }

      .system-gamecount {
        .fallback-count {
          display: none;
        }

        .screenshots-count {
          display: inline;
        }
      }
    }

    &.system-magazine {
      .fallback-title {
        display: none;
      }

      .magazine-title {
        display: inline;
      }

      .system-gamecount {
        .fallback-count {
          display: none;
        }

        .magazine-count {
          display: inline;
        }
      }
    }

    &.system-all {
      .fallback-title {
        display: none;
      }

      .all-title {
        display: inline;
      }
    }
  }

  .system-gamecount {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--theme-color);
    text-align: center;
    text-shadow: var(--font-shadow);

    .custom-count {
      display: none;
    }

    .fallback-count {
      display: inline;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .user-profile {
    display: flex;
    align-items: center;
    gap: 0.8em;

    .user-name {
      font-size: 1.35rem;
      font-weight: 400;
      color: var(--text-primary);
      text-shadow: var(--font-shadow);
    }

    .user-avatar-container {
      background: linear-gradient(var(--theme-color), #000000);
      width: 4em;
      height: 4em;
      border-radius: 20px;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .user-avatar {
      background-color: rgba(255, 255, 255, .1);
      width: 3.5em;
      height: 3.5em;
      border-radius: 15px;
      object-fit: contain;
      box-sizing: border-box;
      padding: 0.35em;
    }

    .user-online {
      background: linear-gradient(90deg, #00ffc4 0.000%, #00ffbc 16.667%, #00ffb3 33.333%, #00f6aa 50.000%, #00e5a1 66.667%, #00d398 83.333%, #00c08f 100.000%);
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 100%;
      position: absolute;
      bottom: -1px;
      right: -1px;
      animation-iteration-count: infinite;
    }
  }
}