/* ========================================================
   GAMELIST VIEW LAYOUT
   ======================================================== */
[data-riescade-view='gamelist'] {
	position: relative;
	width: 100vw;
	height: 100vh;
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(50px);
		opacity: 1;
	}
}

.gamelist-bg-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	.gamelist-bg-default {
		z-index: 1;
		background-image: url('../_parts/default.png');
		background-size: 100% 100%;
	}

	.gamelist-bg-fanart {
		z-index: 2;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.gamelist-overlay,
	.gamelist-overlay-right,
	.gamelist-overlay-bottom {
		background-size: 100% 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.gamelist-overlay {
		background-image: url('../_parts/overlays/overlay-gamelist-light.png');
		z-index: 3;
	}
	.gamelist-overlay-right {
		background-image: url('../_parts/overlays/OverlayRight.png');
		z-index: 10;
	}
	.gamelist-overlay-bottom {
		background-image: url('../_parts/overlays/OverlayTopRight.png');
		z-index: 10;
	}
}

.gamelist-main-content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw 0 3vw;
	overflow: hidden;
	z-index: 9;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

.gamelist-left-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 45%;
  	padding-top: 80px;

	.thumbnail-container {
		animation: slideInLeft 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
	}

	.gamelist-thumbnail {
		max-width: 100%;
		max-height: 55vh;
		object-fit: contain;
		filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
    	transform: rotate(-4deg);
	}

	.gamelist-meta {
		margin-top: 20px;
		text-align: left;
	}

	.gamelist-meta-title {
		font-size: 2.75rem;
		font-weight: 600;
		line-height: 110%;
		color: #fff;
		margin: 0;
		text-shadow: 2px 2px 2px #000000;
		white-space: nowrap;
	}

	.gamelist-meta-info {
		font-size: 1.75rem;
		color: #ffffff;
		margin-left: 10px;
		text-shadow: 2px 2px 2px #000000;
		font-weight: 500;
	}
}

.gamelist-right-col {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.riescade-carousel-item {
		width: 100% !important;
		transform: translate(-50%, -50%) scale(1) !important;
		filter: saturate(0) !important;
		opacity: 0.2 !important;
		height: auto !important;

		img {
			max-width: 50% !important;
			min-width: 50% !important;
   			max-height: max-content !important;
		}

		&.selected {
			filter: saturate(1) !important;
			opacity: 1 !important;
			max-width: 100% !important;
			width: 100% !important;

			img {
				width: 100% !important;
				min-width: 100% !important;
			}
		}
	}
}
