/* ========================================================
   RIESCADE - GLOBAL / BASE STYLES
   ======================================================== */

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:wght@400&display=swap");
@import "./menu.scss";

$theme-color: #9f0043;
$text-primary: #ffffff;
$text-muted: rgba(255, 255, 255, 0.56);
$font-main: "Inter Tight", sans-serif;
$font-clock: "Inter Tight", sans-serif;
$font-hardware: "Inter Tight", sans-serif;

:root {
  --theme-color: #{$theme-color};
  --text-primary: #{$text-primary};
  --text-muted: #{$text-muted};
  --font-main: #{$font-main};
  --font-clock: #{$font-clock};
  --font-hardware: #{$font-hardware};
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: var(--font-main);
  font-optical-sizing: auto;
  user-select: none;
}

/* UTILS */
.centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* CLOCK */
.riescade-clock-time {
  font-family: var(--font-clock);
  font-weight: 300;
  font-size: 1.85rem;
  color: var(--text-primary);
  text-shadow: 1px 1px 1px #000000;
}

/* FOOER */
.riescade-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw 0 1.5vw;
  box-sizing: border-box;
  z-index: 100;

  .system-meta {
    flex: 1;

    .system-meta-name {
      font-family: var(--font-hardware);
      font-size: 2vh; /* 0.020 no ES */
      color: var(--text-muted);
    }

    .system-meta-hardware {
      color: var(--theme-color); /* extraTextColor */
    }
  }

  .helpsystem {
    display: flex;
    gap: 1.5vw;

    .helpsystem-image {
      transform: scale(0.7);
    }
  }

  .controller-activity {
    display: flex;
    align-items: center;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
    }

    .controller-activity-icon {
      height: 3vh; /* Equivalente ao 0.03 do ES */
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    }
  }
}

.riescade-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  box-sizing: border-box;
  z-index: 100;

  .system-name {
    font-size: 1.85rem;
    font-weight: 300;
    text-align: center;
  }
  .system-gamecount {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--theme-color);
    text-align: center;
  }
}