@charset "UTF-8";
/* ========================================================
   RIESCADE - GLOBAL / BASE STYLES
   ======================================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:wght@400&display=swap");
/* ========================================================
   MENU VIEW LAYOUT
   ======================================================== */
/* Fundo escurecido e borrado da tela inteira */
.riescade-menu-overlay,
.riescade-modal-overlay {
  background: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(3px);
}

.riescade-menu-container,
.riescade-modal-container {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400;
  width: 35vw !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 40px rgb(0, 0, 0);
  margin-bottom: 10vh;
}

/* Cabeçalho do Menu */
.riescade-menu-header {
  background: none !important;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.riescade-menu-header .riescade-menu-title {
  color: var(--theme-color);
}

/* Área onde a lista React será injetada */
.riescade-menu-list-container {
  background: none !important;
  max-height: 70vh;
}

/* Você pode forçar estilos nos itens do menu gerados pelo React usando !important */
.riescade-menu-item {
  padding: 5px 30px !important;
}
.riescade-menu-item .riescade-menu-label {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
}
.riescade-menu-item.selected {
  background: linear-gradient(90deg, var(--theme-color) 0%, var(--theme-color) 100%) !important;
  color: #ffffff !important;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1) !important;
}
.riescade-menu-item.selected .riescade-menu-label {
  font-weight: 300 !important;
  color: #ffffff !important;
}

.menu-toggle {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
.menu-toggle.on {
  background: var(--theme-color) !important;
}

.menu-select {
  color: #fff;
}

/* Rodapé do Menu */
.riescade-menu-footer {
  background: none !important;
  padding: 20px 25px 10px !important;
  justify-content: center !important;
}
.riescade-menu-footer .riescade-menu-footer-actions {
  display: none !important;
}
.riescade-menu-footer .riescade-menu-version {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}

.riescade-modal-title {
  color: var(--theme-color) !important;
}

.riescade-modal-message {
  color: #FFFFFF !important;
}

.riescade-modal-button-primary,
.riescade-modal-button-danger,
.riescade-modal-button-secondary {
  background: none !important;
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
}
.riescade-modal-button-primary:hover, .riescade-modal-button-primary.selected,
.riescade-modal-button-danger:hover,
.riescade-modal-button-danger.selected,
.riescade-modal-button-secondary:hover,
.riescade-modal-button-secondary.selected {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
  color: #fff;
  box-shadow: none !important;
}

.riescade-modal-footer {
  background: none !important;
  justify-content: center !important;
}

:root {
  --theme-color: #9f0043;
  --text-primary: #ffffff;
  --text-muted: rgba(255, 255, 255, 0.56);
  --font-main: Inter Tight, sans-serif;
  --font-clock: Inter Tight, sans-serif;
  --font-hardware: Inter Tight, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: var(--font-main);
  font-optical-sizing: auto;
  user-select: none;
}

/* UTILS */
.centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* CLOCK */
.riescade-clock-time {
  font-family: var(--font-clock);
  font-weight: 300;
  font-size: 1.85rem;
  color: var(--text-primary);
  text-shadow: 1px 1px 1px #000000;
}

/* FOOER */
.riescade-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw 0 1.5vw;
  box-sizing: border-box;
  z-index: 100;
}
.riescade-footer .system-meta {
  flex: 1;
}
.riescade-footer .system-meta .system-meta-name {
  font-family: var(--font-hardware);
  font-size: 2vh; /* 0.020 no ES */
  color: var(--text-muted);
}
.riescade-footer .system-meta .system-meta-hardware {
  color: var(--theme-color); /* extraTextColor */
}
.riescade-footer .helpsystem {
  display: flex;
  gap: 1.5vw;
}
.riescade-footer .helpsystem .helpsystem-image {
  transform: scale(0.7);
}
.riescade-footer .controller-activity {
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.riescade-footer .controller-activity.active {
  opacity: 1;
}
.riescade-footer .controller-activity.hidden {
  opacity: 0;
}
.riescade-footer .controller-activity .controller-activity-icon {
  height: 3vh; /* Equivalente ao 0.03 do ES */
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.riescade-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  box-sizing: border-box;
  z-index: 100;
}
.riescade-header .system-name {
  font-size: 1.85rem;
  font-weight: 300;
  text-align: center;
}
.riescade-header .system-gamecount {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--theme-color);
  text-align: center;
}