/* ========================================================
   SYSTEM VIEW LAYOUT (1920x1080 Aspect Ratio Scaling)
   ======================================================== */
[data-riescade-view=system] {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 1. BACKGROUND */
.system-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.system-background-overlay {
  background-image: url(../_parts/overlays/overlay-system.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* CAROUSEL AREA */
.riescade-carousel-area {
  position: absolute;
  top: 70vh; /* Aproximadamente o centro da tela descontando header/footer */
  left: 0;
  width: 100%;
  height: 25vh;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riescade-carousel-item.selected img {
  filter: saturate(1) !important;
}
.riescade-carousel-item img {
  filter: saturate(0) !important;
}